:root {
    /* 主色调 */
    --dark-primary-color: #8c0505;
    --medium-primary: #ae0606;
    --default-primary-color: rgb(220, 70, 38);
    --light-primary-color: rgb(239, 94, 63);

    /* 副色调1 */
    --secondary-color: #ffee33;

    /* 副色调2 */
    --third-color: #207c32;

    /* 字体颜色 */
    --text-color: #333;
    --text-color-light: #666;
    --text-color-light-double: #999;
    --text-color-light-thrice: #ccc;
    --text-color-inverse: #fff;
    --text-color-primary: #7e5f11;

    /* 背景颜色 */
    --background-color: #fff;
    --background-alt: #f9f9f9;
    --background-dark: #1a1a1a;
    --border-color: #eee;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    background-color: var(--default-primary-color);
    color: var(--text-color-inverse);
}
