/* 基础字体设置 */
:root {
    /* 移动端基础字体大小 */
    font-size: 14px;
}

/* 响应式字体大小 */
@media screen and (min-width: 480px) {
    :root {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 16px;
    }
}
